@use "./mixin.scss";

@font-face {
    font-family: "Urbanist";
    src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
    font-family: "Urbanist-bold";
    src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
    font-family: "Urbanist-semibold";
    src: url(../fonts/Urbanist-SemiBold.ttf);
}
@font-face {
    font-family: "Urbanist-light";
    src: url(../fonts/Urbanist-Light.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Urbanist";
}
html {
    font-size: 62.5%;
}
a {
    text-decoration: none;
    color: #000;
    font-size: 1.4rem;
}
a:hover {
    cursor: pointer;
}
button:hover {
    cursor: pointer;
}
h1 {
    @include mixin.textStyle(3.8rem, "Urbanist-bold", center, #000);
    @include mixin.generalStyle(0, 0, 80vw, 12vh);
}

// -------------- Buttons Styling --------------
.btn {
    @include mixin.boxStyle(0.1rem solid #000, 4rem);
    @include mixin.generalStyle(0, 1rem, 68vw, 8vh);
    @include mixin.displayFlex(flex, row, center, space-between, "");

}
.btn__green {
    color: #FFF;
    @include mixin.boxStyle(0.1rem solid #000, 4rem, #A9CBA6);
    @include mixin.generalStyle(0, 1rem, 68vw, 8vh);
    @include mixin.displayFlex(flex, row, center, space-between, "");
}

// ======== Header Styling ========

header {
    @include mixin.displayFlex(flex, row, center, space-between, 0);
    @include mixin.generalStyle(15px auto, 10px, 90%, 10vh);
    border: 1px solid #000;
    border-radius: 5rem;

    /* navbar */
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        flex-direction: row-reverse;
    }
    /* styling hamburger icon */
    .hamburger {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 2rem;
        width: 2.6rem;
    }
    .hamburger .line {
        background-color: #000;
        height: 0.3rem;
        width: 100%;
        border-radius: 0.2rem;
        transition: 0.3s;
    }
    /* links style */
    .nav-links {
        list-style: none;
        display: none;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        padding: 0 10px;
        margin-top: 360px; // Need to improve that.
        z-index: 2;
    }
    .nav-links li {
        margin: 1.5rem 0;
    }
    .nav-links li a {
        color: #000;
        text-decoration: none;
        font-size: 1.8rem;
    }
    /* when active */
    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

}


// ======== Main Styling ========

main {
    @include mixin.generalStyle(0, 0, 100%, "");
    @include mixin.displayFlex(flex, column, center, center, 6rem);

    section {
        @include mixin.generalStyle(0, 0, 100%, "");
        &:nth-of-type(1) {
            @include mixin.displayFlex(flex, column, center, center, 0);
        
            .nature__buttons {
                // @include mixin.generalStyle();
                @include mixin.displayFlex(flex, column, center, center, 2rem);
            }
        }

        &:nth-of-type(2) {
            @include mixin.displayFlex(flex, column, center, center, 2rem);
            background-image: url(../images/bg-green1.png);
            background-repeat: no-repeat;
            background-size: 100% 26%;

            p {
                @include mixin.textStyle(1.4rem, "Urbanist", center, #000);
                @include mixin.generalStyle(0, 0, 80vw, 12vh);
            }
            .cards {
                @include mixin.displayFlex(flex, column, center, center, 2rem);
            }
            .card {
                @include mixin.displayFlex(flex, column, center, center, 2rem);
                @include mixin.generalStyle(auto, 1rem, 66vw, 44vh);
                @include mixin.boxStyle(0.1rem solid #000, 2rem, #fff);
                box-shadow: #00000049 -4px -4px 4px inset; 
            }
            h3 {
                @include mixin.textStyle(2rem, "Urbanist.semibold", center, #000);
                @include mixin.generalStyle(0, 0, 31vw, "");
            }
            .card p {
                @include mixin.textStyle(1.4rem, "Urbanist-light", center, #000);
                @include mixin.generalStyle(auto, "", 28vw, "");
                line-height: 2.4rem;
                letter-spacing: 0.037rem;
            }
            .btn__green {
                @include mixin.displayFlex(flex, row, center, flex-start, 5rem);
            }
        }
        &:nth-of-type(3) {
            @include mixin.displayFlex(flex, column, center, center, 0);
            background-image: url(../images/Bg-Bulb.png);
            background-repeat: no-repeat;
            background-size: 100% 10%;

            h1 {
                @include mixin.generalStyle(0, 0, 80vw, 8vh);
            }
            p {
                @include mixin.textStyle(1.6rem, "Urbanist", center, #000);
                @include mixin.generalStyle(0, 0, 86vw, 16vh);
                line-height: 2.7rem
            }
            .cards {
                @include mixin.generalStyle(8rem 0, 4rem 2rem, 100vw, "");
                @include mixin.displayFlex(flex, column, center, center, 2rem);
            }
            .card {
                @include mixin.generalStyle(0, 0, 80vw, "");
                @include mixin.boxStyle(0.1rem solid #000, 4rem);
            }
            .img-van {
                @include mixin.generalStyle(0, 0, 100%, "");
            }
            .price span {
                @include mixin.textStyle(2rem, "Urbanist-bold", center, #000);
            }
            .offer {
                background-color: #F0CEA0;
                border: 0.1rem solid #000;
                border-radius: 0 0 4rem 4rem;
                margin-top: -0.4rem;
                padding: 1.6rem 2rem;
            }
            .headline__price {
                @include mixin.displayFlex(flex, row, center, space-between, 0);
            }
            .headline__price h1 {
                @include mixin.generalStyle(0, 0, 22vw, 5vh);
            }
            .price {
                @include mixin.displayFlex(flex, row, flex-end, center, 0.6rem);
            }
            .price h3 {
                @include mixin.textStyle(3.4rem, "Urbanist-bold", center, #000);
                @include mixin.generalStyle(0, 0, "", "");
            }
            .services {
                @include mixin.displayFlex(flex, column, flex-start, center, 1rem);
            }
            .services p {
                @include mixin.displayFlex(flex, row, center, "", 1rem);
                @include mixin.generalStyle(0, 2rem 0, 56vw, 5vh);
                @include mixin.textStyle(1.4rem, "Urbanist", center, #000);
                text-align: left;
            }
            .services button {
                @include mixin.textStyle(1.5rem, "Urbanist-bold", center, #000);
                @include mixin.displayFlex(flex, row, center, center, "");
            }
            .services .btn__green {
                color: #fff;
            }
        }
    }

}
// ======== Footer Styling ========
footer {
    @include mixin.displayFlex(flex, column, center, center, 2rem);
    padding: 2rem 0;
    border-top: 0.1rem solid #000;
    
    nav {
        @include mixin.displayFlex(flex, column, center, center, 1rem);
    }
    .social__media {
        @include mixin.displayFlex(flex, row, center, center, 1.8rem);
    }
}


    // ======== TABLET ========

@media (min-width: 768px) {
    // ======== TABLET Header Styling ========
    header {
        .nav-links {
            flex-direction: row;
            margin-top: 0;
            gap: 2rem;

            li {
                a{
                    font-size: 1.4rem;
                }
            }
        }
        .nav-links.active {
            flex-direction: row;
        }
    }
    // ======== TABLET Main Styling ========
    main {
        section {
            &:nth-of-type(1) {
                .bg__hero {
                    @include mixin.generalStyle(0, 0, 100%, "");
                }
                .nature__buttons {
                    margin-top: -8rem;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    button {
                        font-size: 2.4rem;
                    }
                    .btn, .btn__green {
                        width: 36vw;
                        height: 5vh;
                    }
                }
            }
            &:nth-of-type(2) {
                background-image: none;
                gap: 3rem;

                h1 {
                    @include mixin.generalStyle(0, 0, 56vw, 4vh);
                }
                p {
                    @include mixin.generalStyle(0, 0, 60vw, 4vh);
                    line-height: 2rem;
                }
                .cards {
                    @include mixin.generalStyle(0, 0 2rem, 100%, 100%);
                    @include mixin.displayFlex(flex, row, center, center, 2rem);
                    flex-wrap: wrap;
                    .card {
                        @include mixin.displayFlex(flex, column, center, center, 0.6rem);
                        @include mixin.generalStyle(0, 1rem, 26vw, 28vh);
                        
                        img {
                            @include mixin.generalStyle(0, 0, 12rem, 12rem);
                        }
                        h3 {
                            @include mixin.textStyle(2rem, "Urbanist.semibold", center, #000);
                            @include mixin.generalStyle(0, 0, 14vw, "");
                        }
                        p {
                            @include mixin.textStyle(1.6rem, "Urbanist-light", center, #000);
                            @include mixin.generalStyle(auto, "", 18vw, "");
                            line-height: 2.4rem;
                            letter-spacing: 0.037rem;
                        }
                    }
                }
                .btn__green {
                    font-size: 1.6rem;
                    @include mixin.generalStyle(0, 1rem, 30vw, 4vh);
                    @include mixin.displayFlex(flex, row, center, flex-start, 4rem);
                }
            }
            &:nth-of-type(3) {
                gap: 2rem;
                padding-top: 3rem;
                background-size: 100% 30%;
                h1 {
                    @include mixin.generalStyle(0, 0, 42vw, 4vh);
                }
                p {
                    @include mixin.textStyle(1.6rem, "Urbanist", center, #000);
                    @include mixin.generalStyle(0, 0, 60vw, 12vh);
                    line-height: 2.7rem;
                }
                .cards {
                    @include mixin.generalStyle(0, 2rem, 100vw, "");
                    @include mixin.displayFlex(flex, row, center, center, 2rem);
                    flex-wrap: wrap;
                }
                .card {
                    @include mixin.generalStyle(0, 0, 44vw, "");
                    @include mixin.boxStyle(0.2rem solid #000, 4rem);
                }
                .offer {
                    padding: 0.6rem 2rem;
                }
                .headline__price h1 {
                    @include mixin.generalStyle(0, 0, 8vw, 4vh);
                }
                .services {
                    gap: 1.4rem;
                    align-items: flex-start;
                    padding: 2rem 0;

                    p {
                        gap: 0.4rem;
                        @include mixin.generalStyle(0, 0, 25vw, 3vh);
                        text-align: left;
                    }
                    button {
                        margin: 0.6rem 0;
                        @include mixin.displayFlex(flex, row, center, center, "");
                        @include mixin.generalStyle(auto, 1rem, 30vw, 4vh);
                    }
                }
            }
        }
    }
    // ======== TABLET Footer Styling ========
    footer {       
        nav {
            flex-direction: row;
        }
    }
}

    // ======== DESKTOP ========

@media (min-width: 992px) {
    // ======== DESKTOP Header Styling ========
    header {
        overflow: hidden;
        .hamburger {
            display: none;
        }

        .nav-links {
            display: flex;
            gap: 5rem;

            li {
                a {
                    font-size: 1.6rem;
                }
                .special__link {
                    border-bottom: 0.2rem solid #000;
                    font-family: "Urbanist-bold";
                }
            }
        }
    }
    // ======== DESKTOP Main Styling ========
    main {
        section {
            &:nth-of-type(1) {
                .bg__hero {
                    @include mixin.generalStyle(0, 0, 80%, "");
                }

                .nature__buttons {
                    flex-wrap: nowrap;
        
                    button {
                        font-size: 2rem;
                    }
        
                    .btn, .btn__green {
                        width: 22vw;
                        height: 7vh;
                    }
                }
            }
            &:nth-of-type(2) {
                gap: 4rem;
                h1 {
                    @include mixin.generalStyle(0, 0, 36vw, 5vh);
                }
                p {
                    @include mixin.generalStyle(0, 0, 40vw, 5vh);
                }
                .cards {
                    flex-wrap: nowrap;
                    .card {
                        @include mixin.generalStyle(0, 1rem, 16vw, 35vh);

                        p {
                            @include mixin.textStyle(1.6rem, "Urbanist-light", center, #000);
                            @include mixin.generalStyle(auto, "", 12vw, "");
                            line-height: 2.4rem;
                            letter-spacing: 0.037rem;
                        }
                    }
                }
                .btn__green {
                    @include mixin.generalStyle(0, 1rem, 22vw, 7vh);
                }
            }
            &:nth-of-type(3) {
                background-size: 100% 100%;
                .card {
                    @include mixin.generalStyle(0, 0, 26vw, "");
                }
                .services {
                    button {
                        width: 22vw;
                        height: 7vh;
                    }
                }
            }
        }
    }
}