@font-face {
  font-family: "Urbanist";
  src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: "Urbanist-bold";
  src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
  font-family: "Urbanist-semibold";
  src: url(../fonts/Urbanist-SemiBold.ttf);
}
@font-face {
  font-family: "Urbanist-light";
  src: url(../fonts/Urbanist-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist";
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 1.4rem;
}

a:hover {
  cursor: pointer;
}

button:hover {
  cursor: pointer;
}

h1 {
  font-size: 3.8rem;
  font-family: "Urbanist-bold";
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  width: 80vw;
  height: 12vh;
}

.btn {
  border: 0.1rem solid #000;
  border-radius: 4rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
  margin: 0;
  padding: 1rem;
  width: 68vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: "";
}

.btn__green {
  color: #FFF;
  border: 0.1rem solid #000;
  border-radius: 4rem;
  background-color: #A9CBA6;
  box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
  margin: 0;
  padding: 1rem;
  width: 68vw;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: "";
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin: 15px auto;
  padding: 10px;
  width: 90%;
  height: 10vh;
  border: 1px solid #000;
  border-radius: 5rem;
  /* navbar */
  /* styling hamburger icon */
  /* links style */
  /* when active */
}
header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-direction: row-reverse;
}
header .hamburger {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 2rem;
  width: 2.6rem;
}
header .hamburger .line {
  background-color: #000;
  height: 0.3rem;
  width: 100%;
  border-radius: 0.2rem;
  transition: 0.3s;
}
header .nav-links {
  list-style: none;
  display: none;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 10px;
  margin-top: 360px;
  z-index: 2;
}
header .nav-links li {
  margin: 1.5rem 0;
}
header .nav-links li a {
  color: #000;
  text-decoration: none;
  font-size: 1.8rem;
}
header .nav-links.active {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
main section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: "";
}
main section:nth-of-type(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
}
main section:nth-of-type(1) .nature__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-image: url(../images/bg-green1.png);
  background-repeat: no-repeat;
  background-size: 100% 26%;
}
main section:nth-of-type(2) p {
  font-size: 1.4rem;
  font-family: "Urbanist";
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  width: 80vw;
  height: 12vh;
}
main section:nth-of-type(2) .cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main section:nth-of-type(2) .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;
  padding: 1rem;
  width: 66vw;
  height: 44vh;
  border: 0.1rem solid #000;
  border-radius: 2rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
  box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
}
main section:nth-of-type(2) h3 {
  font-size: 2rem;
  font-family: "Urbanist.semibold";
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  width: 31vw;
  height: "";
}
main section:nth-of-type(2) .card p {
  font-size: 1.4rem;
  font-family: "Urbanist-light";
  text-align: center;
  color: #000;
  margin: auto;
  padding: "";
  width: 28vw;
  height: "";
  line-height: 2.4rem;
  letter-spacing: 0.037rem;
}
main section:nth-of-type(2) .btn__green {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5rem;
}
main section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  background-image: url(../images/Bg-Bulb.png);
  background-repeat: no-repeat;
  background-size: 100% 10%;
}
main section:nth-of-type(3) h1 {
  margin: 0;
  padding: 0;
  width: 80vw;
  height: 8vh;
}
main section:nth-of-type(3) p {
  font-size: 1.6rem;
  font-family: "Urbanist";
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  width: 86vw;
  height: 16vh;
  line-height: 2.7rem;
}
main section:nth-of-type(3) .cards {
  margin: 8rem 0;
  padding: 4rem 2rem;
  width: 100vw;
  height: "";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
main section:nth-of-type(3) .card {
  margin: 0;
  padding: 0;
  width: 80vw;
  height: "";
  border: 0.1rem solid #000;
  border-radius: 4rem;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
}
main section:nth-of-type(3) .img-van {
  margin: 0;
  padding: 0;
  width: 100%;
  height: "";
}
main section:nth-of-type(3) .price span {
  font-size: 2rem;
  font-family: "Urbanist-bold";
  text-align: center;
  color: #000;
}
main section:nth-of-type(3) .offer {
  background-color: #F0CEA0;
  border: 0.1rem solid #000;
  border-radius: 0 0 4rem 4rem;
  margin-top: -0.4rem;
  padding: 1.6rem 2rem;
}
main section:nth-of-type(3) .headline__price {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0;
}
main section:nth-of-type(3) .headline__price h1 {
  margin: 0;
  padding: 0;
  width: 22vw;
  height: 5vh;
}
main section:nth-of-type(3) .price {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  gap: 0.6rem;
}
main section:nth-of-type(3) .price h3 {
  font-size: 3.4rem;
  font-family: "Urbanist-bold";
  text-align: center;
  color: #000;
  margin: 0;
  padding: 0;
  width: "";
  height: "";
}
main section:nth-of-type(3) .services {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}
main section:nth-of-type(3) .services p {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: "";
  gap: 1rem;
  margin: 0;
  padding: 2rem 0;
  width: 56vw;
  height: 5vh;
  font-size: 1.4rem;
  font-family: "Urbanist";
  text-align: center;
  color: #000;
  text-align: left;
}
main section:nth-of-type(3) .services button {
  font-size: 1.5rem;
  font-family: "Urbanist-bold";
  text-align: center;
  color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: "";
}
main section:nth-of-type(3) .services .btn__green {
  color: #fff;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  border-top: 0.1rem solid #000;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
footer .social__media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

@media (min-width: 768px) {
  header .nav-links {
    flex-direction: row;
    margin-top: 0;
    gap: 2rem;
  }
  header .nav-links li a {
    font-size: 1.4rem;
  }
  header .nav-links.active {
    flex-direction: row;
  }
  main section:nth-of-type(1) .bg__hero {
    margin: 0;
    padding: 0;
    width: 100%;
    height: "";
  }
  main section:nth-of-type(1) .nature__buttons {
    margin-top: -8rem;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  main section:nth-of-type(1) .nature__buttons button {
    font-size: 2.4rem;
  }
  main section:nth-of-type(1) .nature__buttons .btn, main section:nth-of-type(1) .nature__buttons .btn__green {
    width: 36vw;
    height: 5vh;
  }
  main section:nth-of-type(2) {
    background-image: none;
    gap: 3rem;
  }
  main section:nth-of-type(2) h1 {
    margin: 0;
    padding: 0;
    width: 56vw;
    height: 4vh;
  }
  main section:nth-of-type(2) p {
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 4vh;
    line-height: 2rem;
  }
  main section:nth-of-type(2) .cards {
    margin: 0;
    padding: 0 2rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  main section:nth-of-type(2) .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    margin: 0;
    padding: 1rem;
    width: 26vw;
    height: 28vh;
  }
  main section:nth-of-type(2) .cards .card img {
    margin: 0;
    padding: 0;
    width: 12rem;
    height: 12rem;
  }
  main section:nth-of-type(2) .cards .card h3 {
    font-size: 2rem;
    font-family: "Urbanist.semibold";
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0;
    width: 14vw;
    height: "";
  }
  main section:nth-of-type(2) .cards .card p {
    font-size: 1.6rem;
    font-family: "Urbanist-light";
    text-align: center;
    color: #000;
    margin: auto;
    padding: "";
    width: 18vw;
    height: "";
    line-height: 2.4rem;
    letter-spacing: 0.037rem;
  }
  main section:nth-of-type(2) .btn__green {
    font-size: 1.6rem;
    margin: 0;
    padding: 1rem;
    width: 30vw;
    height: 4vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
  }
  main section:nth-of-type(3) {
    gap: 2rem;
    padding-top: 3rem;
    background-size: 100% 30%;
  }
  main section:nth-of-type(3) h1 {
    margin: 0;
    padding: 0;
    width: 42vw;
    height: 4vh;
  }
  main section:nth-of-type(3) p {
    font-size: 1.6rem;
    font-family: "Urbanist";
    text-align: center;
    color: #000;
    margin: 0;
    padding: 0;
    width: 60vw;
    height: 12vh;
    line-height: 2.7rem;
  }
  main section:nth-of-type(3) .cards {
    margin: 0;
    padding: 2rem;
    width: 100vw;
    height: "";
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
  }
  main section:nth-of-type(3) .card {
    margin: 0;
    padding: 0;
    width: 44vw;
    height: "";
    border: 0.2rem solid #000;
    border-radius: 4rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.2862745098) -4px -4px 4px inset;
  }
  main section:nth-of-type(3) .offer {
    padding: 0.6rem 2rem;
  }
  main section:nth-of-type(3) .headline__price h1 {
    margin: 0;
    padding: 0;
    width: 8vw;
    height: 4vh;
  }
  main section:nth-of-type(3) .services {
    gap: 1.4rem;
    align-items: flex-start;
    padding: 2rem 0;
  }
  main section:nth-of-type(3) .services p {
    gap: 0.4rem;
    margin: 0;
    padding: 0;
    width: 25vw;
    height: 3vh;
    text-align: left;
  }
  main section:nth-of-type(3) .services button {
    margin: 0.6rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: "";
    margin: auto;
    padding: 1rem;
    width: 30vw;
    height: 4vh;
  }
  footer nav {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  header {
    overflow: hidden;
  }
  header .hamburger {
    display: none;
  }
  header .nav-links {
    display: flex;
    gap: 5rem;
  }
  header .nav-links li a {
    font-size: 1.6rem;
  }
  header .nav-links li .special__link {
    border-bottom: 0.2rem solid #000;
    font-family: "Urbanist-bold";
  }
  main section:nth-of-type(1) .bg__hero {
    margin: 0;
    padding: 0;
    width: 80%;
    height: "";
  }
  main section:nth-of-type(1) .nature__buttons {
    flex-wrap: nowrap;
  }
  main section:nth-of-type(1) .nature__buttons button {
    font-size: 2rem;
  }
  main section:nth-of-type(1) .nature__buttons .btn, main section:nth-of-type(1) .nature__buttons .btn__green {
    width: 22vw;
    height: 7vh;
  }
  main section:nth-of-type(2) {
    gap: 4rem;
  }
  main section:nth-of-type(2) h1 {
    margin: 0;
    padding: 0;
    width: 38vw;
    height: 5vh;
  }
  main section:nth-of-type(2) p {
    margin: 0;
    padding: 0;
    width: 40vw;
    height: 5vh;
  }
  main section:nth-of-type(2) .cards {
    flex-wrap: nowrap;
  }
  main section:nth-of-type(2) .cards .card {
    margin: 0;
    padding: 1rem;
    width: 16vw;
    height: 35vh;
  }
  main section:nth-of-type(2) .cards .card p {
    font-size: 1.6rem;
    font-family: "Urbanist-light";
    text-align: center;
    color: #000;
    margin: auto;
    padding: "";
    width: 12vw;
    height: "";
    line-height: 2.4rem;
    letter-spacing: 0.037rem;
  }
  main section:nth-of-type(2) .btn__green {
    margin: 0;
    padding: 1rem;
    width: 22vw;
    height: 7vh;
  }
  main section:nth-of-type(3) {
    background-size: 100% 100%;
  }
  main section:nth-of-type(3) .card {
    margin: 0;
    padding: 0;
    width: 26vw;
    height: "";
  }
  main section:nth-of-type(3) .services button {
    width: 22vw;
    height: 7vh;
  }
}

/*# sourceMappingURL=style.css.map */
